body {
  font-family: Bai Jamjuree, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-white);
  background-color: var(--color-bg--dark);
}

section {
  padding: var(--m) 0;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.router-link-exact-active {
  color: var(--color-green);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--m) * 2 + 1440px);
  padding: 0 var(--m);
}

.header,
.footer {
  padding: var(--m) 0;
}

.footer {
  margin-top: auto;
}

.nav {
  font-size: 1.4em;

  a {
    font-weight: bold;
  }
}

.transparent {
  color: transparent;
}

.abs-center {
  @include absoluteCenter();
}

