body {
  position: relative;
  font-family: Bai Jamjuree, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.04em;
  color: var(--color__white);
  background-color: var(--bg-color-body);
  @include customScroll;
}

section {
  padding: var(--m) 0;
}

#app {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-bg {
  @include absoluteFull;
  z-index: -1;
  background-image: url('@/shared/assets/image/bg-main.png');
  opacity: 0.05;
}

.custom-scroll {
  @include customScroll;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--m) * 2 + 1440px);
  padding: 0 var(--m);
}

.header,
.footer {
  padding: var(--m) 0;
}

.footer {
  margin-top: auto;
}

.nav {
  font-size: 24px;

  a {
    font-weight: bold;
  }
}

.transparent {
  color: transparent;
}

.capitalize {
  text-transform: capitalize;
}

.events-none {
  pointer-events: none;
}

.label {
  @include fontChakra600;
  letter-spacing: 0.04em;
  @include transition;
  transition-property: color;
}

.router-link-exact-active {
  color: var(--color__green);
}

.link {
  &.is-active {
    color: var(--color__green);
  }

  &:focus-visible,
  &:hover {
    color: var(--color__yellow);
  }

  &:active {
    color: var(--color__yellow--dark);
  }

  &__icon {
    width: var(--s);
    height: var(--s);
  }
}

.notification-counter {
  position: absolute;
  top: -8px;
  right: -10px;
  min-width: 16px;
  border-radius: 100%;
  padding: 2px 3px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 600;
  background-color: var(--color__red);
}

@media (max-width: $breakpoint-s) {
  .container {
    padding: 0 var(--s);
  }
}
