.row {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap-xxs {
  gap: var(--xxs);
}
.gap-xs {
  gap: var(--xs);
}
.gap-s {
  gap: var(--s);
}

.mb-xxs {
  margin-bottom: var(--xxs);
}
.mb-xs {
  margin-bottom: var(--xs);
}
.mb-s {
  margin-bottom: var(--s);
}
