.white {
  color: var(--color__white);
}

.black {
  color: var(--color__black);
}

.yellow {
  color: var(--color__yellow);
}
.yellow--dark {
  color: var(--color__yellow--dark);
}

.green {
  color: var(--color__green);
}
.green--dark {
  color: var(--color__green--dark);
}

.red {
  color: var(--color__red);
}
.red--dark {
  color: var(--color__red--dark);
}

.grey {
  color: var(--color__grey);
}

.blue {
  color: var(--color__blue);
}
.blue--dark {
  color: var(--color__blue--dark);
}

.dark-blue {
  color: var(--color__dark-blue);
}

.purple {
  color: var(--color__purple);
}

.gradient {
  color: var(--gradient__prb);
}

.bg-white {
  background-color: var(--color__white);
}

.bg-black {
  background-color: var(--color__black);
}

.bg-yellow {
  background-color: var(--color__yellow);
}

.bg-green {
  background-color: var(--color__green);
}

.bg-red {
  background-color: var(--color__red);
}

.bg-grey {
  background-color: var(--color__grey);
}

.bg-blue {
  background-color: var(--color__blue);
}

.bg-dark-blue {
  background-color: var(--color__dark-blue);
}

.bg-purple {
  background-color: var(--color__purple);
}
.bg-gradient {
  background-color: var(--gradient__prb);
}

.shadow-black {
  box-shadow: 0 5px 15px var(--color__black);
}
