@font-face {
  font-display: swap;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  src: local('Bai Jamjuree'),
  url('/fonts/bai-jamjuree-v11-latin/bai-jamjuree-v11-latin-regular.woff2') format('woff2'),
  url('/fonts/bai-jamjuree-v11-latin/bai-jamjuree-v11-latin-regular.woff') format('woff');
}
/* bai-jamjuree-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 500;
  src: local('Bai Jamjuree'),
  url('/fonts/bai-jamjuree-v11-latin/bai-jamjuree-v11-latin-500.woff2') format('woff2'),
  url('/fonts/bai-jamjuree-v11-latin/bai-jamjuree-v11-latin-500.woff') format('woff');
}
/* bai-jamjuree-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 600;
  src: local('Bai Jamjuree'),
  url('/fonts/bai-jamjuree-v11-latin/bai-jamjuree-v11-latin-600.woff2') format('woff2'),
  url('/fonts/bai-jamjuree-v11-latin/bai-jamjuree-v11-latin-600.woff') format('woff');
}
/* bai-jamjuree-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  src: local('Bai Jamjuree'),
  url('/fonts/bai-jamjuree-v11-latin/bai-jamjuree-v11-latin-700.woff2') format('woff2'),
  url('/fonts/bai-jamjuree-v11-latin/bai-jamjuree-v11-latin-700.woff') format('woff');
}

/* chakra-petch-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 400;
  src: local('Chakra Petch'),
  url('/fonts/chakra-petch-v9-latin/chakra-petch-v9-latin-regular.woff2') format('woff2'),
  url('/fonts/chakra-petch-v9-latin/chakra-petch-v9-latin-regular.woff') format('woff');
}
/* chakra-petch-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 600;
  src: local('Chakra Petch'),
  url('/fonts/chakra-petch-v9-latin/chakra-petch-v9-latin-600.woff2') format('woff2'),
  url('/fonts/chakra-petch-v9-latin/chakra-petch-v9-latin-600.woff') format('woff');
}
/* chakra-petch-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  src: local('Chakra Petch'),
  url('/fonts/chakra-petch-v9-latin/chakra-petch-v9-latin-700.woff2') format('woff2'),
  url('/fonts/chakra-petch-v9-latin/chakra-petch-v9-latin-700.woff') format('woff');
}
