@mixin transition() {
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
}

@mixin transitionProperty() {
  transition-property: border-color, color, background-color, opacity,
    visibility, transform, box-shadow;
}

@mixin reset() {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 0;
  letter-spacing: 0.2em;
  background-color: transparent;
  cursor: pointer;
}

@mixin absoluteFull() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fontChakra600() {
  font-family: 'Chakra Petch', sans-serif;
  line-height: 130%;
  font-weight: 600;
}

@mixin customScroll() {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color__dark-blue);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color__blue);
    border-radius: 20px;
  }
}
