@mixin transition () {
  transition-timing-function: var(--transition-timing-function);
  transition-duration: var(--transition-duration);
}

@mixin transitionProperty () {
  transition-property: border-color, color, background-color, opacity, visibility, transform, box-shadow;
}

@mixin reset () {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 0;
  letter-spacing: .2em;
  background-color: transparent;
  cursor: pointer;
}

@mixin absoluteCenter () {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fontChakra600 () {
  font-family: 'Chakra Petch', sans-serif;
  line-height: 130%;
  font-weight: 600;
}
