.pseudo-minus {
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    color: inherit;
    background-color: currentColor;
  }
}

.pseudo-plus {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    color: inherit;
    background-color: currentColor;
  }

  &::before {
    transform: translateY(-50%);
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);
  }
}

.pseudo-cross {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 2px;
  }

  &::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
