:root {
  --color__white: #FFF;
  --color__black: #010101;

  --color__green: #42B983;
  --color__yellow: #F8EF00;
  --color__red: #FF003C;
  --color__red--light: #2D0008;
  --color__grey: #bbbbbb;
  --color__grey--light: rgba(187, 187, 187, 0.1);
  --color__blue: #00F0FF;
  --color__dark-blue: #001417;
  --color__dark-blue--light: #002A30;

  --color__purple: #77308C;

  --bg-color-body: #1E1E1E;
  --bg-color__dark: #0F0F0F;
  --bg-color__dark--medium: rgba(15, 15, 15, 0.9);
  --bg-color__dark--light: rgba(15, 15, 15, 0.7);

  --xxs: 8px;
  --xs: 16px;
  --s: 24px;
  --m: 32px;
  --l: 40px;
  --xl: 48px;
  --xxl: 56px;

  --border-radius: 8px;

  --breakpoint-s: 576px;
  --breakpoint-m: 768px;
  --breakpoint-l: 992px;
  --breakpoint-xl: 1200px;

  --transition-duration: .1s;
  --transition-timing-function: ease-in-out;

  --max-w-field: 460px;
}
