.card-link {
  position: relative;
  width: 100%;
  padding: var(--s);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: box-shadow;

  &:hover {
    box-shadow: 0 5px 15px 5px var(--color__black);
  }

  &__link {
    z-index: 1;
  }
}
