.bars-loader {
  display: inline-block;
  margin: 0 auto;
  width: 40px;
  height: 0;
  border-radius: 50%;
  color: var(--color__purple);
  box-shadow: -19px 0 0 7px, 0px 0 0 3px, 19px 0 0 0;
  transform: translateX(0);
  animation: barsLoader 0.5s infinite alternate linear;
}

@keyframes barsLoader {
  50% {
    box-shadow: -19px 0 0 3px, 0px 0 0 7px, 19px 0 0 3px;
  }
  100% {
    box-shadow: -19px 0 0 0, 0px 0 0 3px, 19px 0 0 7px;
  }
}
