.button-submit {
  &__spinner {
    position: absolute;
  }

  &.submitting {
    .button__text {
      opacity: 0;
      visibility: hidden;
    }

    .button__border-decorate {
      color: var(--color__black);
    }
  }
}
