.link-to-cart {
  position: relative;

  &__counter {
    position: absolute;
    top: -8px;
    right: -10px;
    min-width: 16px;
    border-radius: 100%;
    padding: 2px 3px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    background-color: var(--color__red);
  }
}
