.personal-area-page {
  &__nav {
    .navigation {
      &__list {
        gap: var(--m);
        justify-content: space-between;
        font-size: 20px;
      }
    }
  }

  &__sub-nav {
    .navigation {
      &__list {
        gap: var(--m);
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  .user-badge {
    &__name {
      padding-right: 130px;
    }
    .avatar {
      width: var(--xxl);
      height: var(--xxl);
    }
  }

  &__logout {
    position: absolute;
    top: var(--s);
    right: var(--s);
    z-index: 2;
  }
}

@media (max-width: $breakpoint-m) {
  .personal-area-page {
    &__nav {
      display: none;
    }
    .user-badge {
      &__name {
        padding-right: initial;
      }
      .avatar {
        width: var(--xxl);
        height: var(--xxl);
      }
    }

    &__logout {
      position: initial;
      margin-left: auto;
    }
  }
}
@media (max-width: $breakpoint-s) {
  .personal-area-page {
    .user-badge {
      .avatar {
        width: var(--l);
        height: var(--l);
      }
    }
  }
}
