.personal-area-page {
  &__nav {
    .navigation {
      &__list {
        gap: var(--m);
        justify-content: space-between;
        font-size: 20px;
      }
    }
  }

  &__sub-nav {
    .navigation {
      &__list {
        gap: var(--m);
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

@media (max-width: $breakpoint-m) {
  .personal-area-page {
    &__nav {
      display: none;
    }
  }
}
