.button-like {
  .button-sm__icon-wrap {
    color: var(--color__grey);
    transition-property: transform, color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }

  &.liked {
    .button-sm__icon-wrap {
      color: var(--color__red);

      path {
        fill: var(--color__red);
      }
    }
  }

  &:focus-visible,
  &:hover {
    .button-sm__icon-wrap {
      color: var(--color__red);
    }

    &.liked {
      .button-sm__icon-wrap {
        color: var(--color__grey);

        path {
          fill: transparent;
        }
      }
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
