.cart-product-card {
  position: relative;
  display: grid;
  grid-template-columns: var(--l) 1fr max-content 150px;
  gap: var(--m);
  color: var(--color__blue);
  //border: 2px solid var(--color__purple);
  //border-radius: var(--border-radius);
  padding: var(--s);

  &__icon {
    width: var(--l);
    height: var(--l);
    color: var(--color__yellow);
  }

  &__end {
    align-items: flex-end;
  }

  .cyber-card {
    &::before {
      background-color: var(--color__blue);
    }

    &::after {
      background-color: var(--color__black);
    }
  }
}
