.v-swiper {
  --bullets-height: 15px;

  position: relative;
  overflow: hidden;

  &__wrapper {
    border-radius: var(--border-radius);
    height: calc(100% - var(--bullets-height));
    cursor: pointer;
  }

  .swiper-slide--image {
    border-radius: var(--border-radius);
    background-color: var(--color__dark-blue);
    overflow: hidden;
  }

  &__pagination {
    &.swiper-pagination {
      bottom: 0;
    }

    .swiper-pagination-bullet {
      position: relative;
      width: 100%;
      height: var(--bullets-height);
      margin: 0 !important;
      border-radius: 0;
      background-color: transparent;
      opacity: 1;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 5px;
        background-color: var(--color__purple--transparent);
      }

      &-active {
        &:before {
          background-color: var(--color__purple);
        }
      }
    }
  }

  &__button {
    position: absolute;
    top: calc(50% - var(--bullets-height));
    z-index: 1;
    transform: translateY(-50%);

    &--next {
      right: 5px;

      svg {
        transform: rotate(45deg);
      }
    }

    &--prev {
      left: 5px;

      svg {
        transform: rotate(-135deg);
      }
    }
  }
}
