.border-decorate {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  display: block;
  background-color: currentColor;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: color, transform;

  &__icon {
    position: absolute;
    height: 100%;

    &--left {
      left: -12px;

      &-top {
        left: -13px;
      }

      &-bottom {
        left: -14px;
      }
    }

    &--right {
      right: -13px;
      transform: rotate(180deg);

      &-top {
        right: -14px;
      }

      &-bottom {
        right: -14px;
      }
    }
  }
}
