@import 'mixins';

.input {
  &__label {
    position: relative;
    width: max-content;

    &.required::after {
      content: '*';
      position: absolute;
      top: 0;
      right: -10px;
      font-size: 20px;
    }
  }

  &__field-wrap {
  }

  &__field {
    width: 100%;
    border-color: var(--color__blue);
    padding: var(--xs);
    font-weight: 500;
    color: var(--color__white);
    background-color: var(--color__dark-blue);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    transition-property: border-color, color, background-color;

    &::placeholder {
      color: var(--color__grey);
    }

    &:focus-visible {
      @include inputFocus;
    }
    &:hover {
      @include inputHover;
    }

    &:disabled {
      color: var(--color__grey);
      border-color: var(--color__grey);
      background-color: var(--color__grey--light);
    }
  }

  &.error {
    .input__label {
      color: var(--color__red);
    }

    .input__field {
      color: var(--color__red);
      border-color: var(--color__red);
      background-color: var(--bg-color__error);

      &::placeholder {
        color: var(--color__red);
      }
    }
  }

  &.disabled {
    .input__label {
      color: var(--color__grey);
    }
  }
}

.input {
  &.focus {
    .input__field {
      @include inputFocus;
    }
  }
  &.hover {
    .input__field {
      @include inputHover;
    }
  }
}
