.product-card {
  width: 100%;
  max-width: 290px;
  border-radius: var(--border-radius);
  padding-bottom: var(--s);

  &__image-wrap {
    height: 280px;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--color__dark-blue);
  }
}
