.button {
  padding: 12px 30px;
  margin: 40px 0;
  color: var(--color__white);
  font-weight: 600;

  &__text {
    z-index: 1;
    color: inherit;
    transition: var(--transition-duration) color var(--transition-timing-function);
  }

  &__border-decorate {
    color: var(--color__black);

    &--after {
      top: 1px;
      right: 11px;
      bottom: 1px;
      left: 11px;
      color: var(--color__blue);
    }
  }

  &:focus-visible {
    .button__border-decorate {
      color: var(--color__red);
    }
  }

  &:hover {
    color: var(--color__blue);

    .button__border-decorate--after {
      transform: translate(5px, 5px);
    }
  }

  &:active {
    color: var(--color__black);

    .button__border-decorate {
      color: var(--color__blue);

      &--after {
        transform: translate(0, 0);
      }
    }
  }

  &:disabled {
    color: var(--color__black);

    .button__border-decorate {
      color: var(--color__grey);
    }
  }
}
