.product-card {
  position: relative;
  width: 100%;
  max-width: 290px;
  border-radius: var(--border-radius);
  padding-bottom: var(--s);

  &__swiper {
    height: 280px;
    border-radius: var(--border-radius);
  }

  &__link {
    z-index: 1;
  }
}
